#video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  border-style: dotted;
  border-width: 3px;
  border-color: white;
}

#three {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
}
#output {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  border-color: white;
  border-style: dotted;
  border-radius: 20px;
  border-width: 5px;
}
/* #nose {
  position: absolute;
  z-index: 100;
  background-color: lightcoral;
  width: 20px;
  height: 20px;
} */
#footfoot {
  z-index: 0;
}
